h1 {
    text-align: center;
}
p {
    text-align: center;
}
#firstName, #lastName, #email, #userName, #passWord{ 
    width: 40%;
}
#usub {
    height: 35px;
    width: 75px;
    background: #01A9DB;
    color: white;
    border: 0px solid #01A9DB;
    border-radius: 5px;
}

.text {
    margin-left: 30%;
}
.radio {
	margin-left: 10%;
}